*{
    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.main-content{
    display: flex;
    margin-top: 6rem;
}
#mainId {
    display: flex;
    flex-wrap: wrap;
    margin-left: 2rem;
    gap: 2rem;
}
.child{
    width: 200px;
}
